@page "/aboutus"

<section>
    <hr />
    <p>PRISMD Dev2Solutions (PRISMD<sup>2</sup>S) is the SP DBA through which the owner, Robins Pierre, offers consulting services (Project Management-PM, Application Software Engineering-ASwE, Systems Engineering-SE, Technical Research) to potential clients within Government, Industry, Small Business, Individuals, etc. He is a talented Engineer, Technology/ Cyber Professional with more than 25 years of experience using multiple ASwE programming languages (C#, VB, VBA, C++, Fortran, JS, HTML, CSS, etc.) & tools (IDEs such as Visual Studio for Development; Team Foundation Server (TFS) now known as Azure DevOps Server for Build Automation & CI/CD,]; Company-specific Proprietary SW Development Platforms, etc.), PM tools (MS Project, JIRA, etc.), and SE's Data Source Collector System (DCS) with Tactical Quiet Generators (TQGs).</p>
    <p>When you partner with PRISMD<sup>2</sup>S, you get a well-rounded experienced, detail-oriented (MSEE degreed) Electro-Mechanical Power Systems Engineer, Bookeeping graduate while in High School, former High School Teacher while pursuing BS Engineering studies, Operator Training Simulator Users' Trainer on developed systems, certified Project Manager, Systems Engineer, and Application Software Architect/ Developer who will work with you to get results as scoped within schedule and budget.</p>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
