@page "/aboutus"

<section>
    <hr />
    <p>PRISMD Dev2Solutions (PRISMD<sup>2</sup>S) is the SP DBA through which the owner, Robins Pierre, offers consulting services (Project Management, Software Engineering, Technical Research, etc.) to Government, Industry, Small Business, Individuals, etc. He is a talented Technology/ Cyber Professional with more than 25 years of experience in software development using multiple programming languages (C#, VB, VBA, C++, Fortran, JS, HTML, CSS, etc.) & tools (IDEs, etc.), project management (using PM tools such as MS Project, JIRA, etc.), and systems engineering.</p>
    <p>When you partner with PRISMD<sup>2</sup>S, you get an experienced, detail-oriented Project Manager and/or an Application Software Architect who will work with you to get results on time and within schedule.</p>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
