@page "/aboutus"

<section>
    <hr />
    <p>PRISMD Dev2Solutions (PRISMD<sup>2</sup>S) is the DBA through which the owner, Robins Pierre, offers Project Management and Software Engineering consulting services to Government and/or Industry entities. He is a talented Technology/ Cyber Professional with more than 25 years of experience in software development using multiple programming languages & tools, project management, and systems engineering.</p>
    <p>When you partner with PRISMD<sup>2</sup>S, you get an experienced, detail-oriented Project Manager and/or an Application Software Architect who will work with you to get results on time and within schedule.</p>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
