@page  "/capabilities"

<section>
    <hr />
    <h5>CAPABILITIES / SERVICE OFFERINGS</h5>
    <ul>
        <li>Project and/or Program Management</li>
        <li>Applied Engineering Simulator / Process Application Software Engineering including Website Development</li>
        <li>New state-of-the-art Application Software Engineering & Development</li>
        <li>Legacy Application Software Upgrade / Customization Engineering & Development</li>
        <li>Database Design and Development for optimum application back-end efficiency</li>
        <li>“As-Is” Legacy Applications Documentation Compliance Generation to maximize users’ productivity</li>
    </ul>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
