@page  "/capabilities"

<section>
    <hr />
    <h5>CAPABILITIES / SERVICE OFFERINGS</h5>
    <ul>
        <li>Project Management and/or Program Management according to PMI's PM Standards</li>
        <li>Applied Engineering Simulation (Modeling) of Electro-Thermodynamic Systems & Industrial Processes such as Power & Petroleum Refinery plants' systems</li>
        <li>General Industrial Process Modeling toward Application Software Engineering & Development</li>
        <li>Business Workflow Process Modeling toward Application Software Engineering & Development</li>
        <li>NEW CUSTOM state-of-the-art Enterprise Application and/or Systems' Automation Software Engineering & Development</li>
        <li>LEGACY Enterprise Application Software UPGRADE (Customization) Engineering & Development</li>
        <li>DATABASE Design and Development for optimum Application back-end efficiency</li>
        <li>“As-Is” LEGACY Application DOCUMENTATION Generation to satisfy compliance requirements and maximize users’ productivity</li>
        <li>TESTING, VERIFICATION & VALIDATION (V&V) for NEW and/or LEGACY Application Software with final assessment report</li>
        <li>NEW and/or LEGACY Website Review and Evaluation (V&V) including custom Website Design & Development</li>
        <li>Users' TRAINING for NEW and/or LEGACY Application Software with certificate of completion</li>
    </ul>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
