@page  "/capabilities"

<section>
    <hr />
    <h5>CAPABILITIES / SERVICE OFFERINGS</h5>
    <ul>
        <li>Small Business (e.g. Medical Practice Office) Affordable Support Services: IT/ Website, Management, Workflow Processes, Custom and/or Third-Party Application Software Tools (including EHR), Finance, Technical Research</li>
        <li>Project Management and/or Program Management according to PMI's PM Standards</li>
        <li>Applied Engineering Simulation (Modeling) of Electro-Thermodynamic Systems & Industrial Processes such as Power & Petroleum Refinery plants' systems</li>
        <li>General Industrial Process Modeling toward Application Software Engineering & Development</li>
        <li>Business Workflow Process Modeling toward Application Software Engineering & Development</li>
        <li>NEW CUSTOM state-of-the-art Enterprise Application and/or Systems' Automation Software Engineering & Development</li>
        <li>LEGACY Enterprise Application Software UPGRADE (Customization) Engineering & Development</li>
        <li>DATABASE Design and Development for optimum Application back-end efficiency</li>
        <li>DOCUMENTATION REVIEW and/or GENERATION for “As-Is” LEGACY Application to satisfy compliance requirements and maximize users’ productivity</li>
        <li>TESTING, VERIFICATION & VALIDATION (V&V) of NEW and/or LEGACY Application Software with assessment report</li>
        <li>REVIEW and EVALUATION (V&V) of NEW and/or LEGACY Website with recommendations report</li>
        <li>TRAINING of Users on specific NEW and/or LEGACY Application Software</li>
    </ul>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
