@page  "/capabilities"

<section>
    <hr />
    <h5>CAPABILITIES / SERVICE OFFERINGS</h5>
    <ul>
        <li>Project and/or Program Management</li>
        <li>Applied Engineering Systems Simulation / Process Application Software Engineering</li>
        <li>New state-of-the-art Enterprise Application Software Engineering & Development</li>
        <li>Legacy Enterprise Application Software Upgrade / Customization Engineering & Development</li>
        <li>Database Design and Development for optimum application back-end efficiency</li>
        <li>“As-Is” Legacy Enterprise Applications Documentation Compliance Generation to maximize users’ productivity</li>
        <li>Custom Website Development and/or Legacy Website Testing and Review</li>
    </ul>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
