@page  "/capabilities"

<section>
    <hr />
    <h5><strong>CAPABILITIES / SERVICE OFFERINGS</strong></h5>
    <ol type="1">
        <li>With a current satisfied Medical Provider Client - Small Business (e.g. Medical Practice Office) Affordable Support Services: IT/ Website, Management (i.e Project and/or Personnel), Workflow Processes, Custom and/or Third-Party Application Software Tools (including EHR), Finance (i.e. Medical Claims's A/R Management & Analysis, etc.), Technical Research (i.e. 3rd party Productivity Tools, etc.)</li>
        <li>With the skills of a former High School Teacher - One-On-One or Group Software Development Coaching in any Programming Language including Web Apps</li>
        <li>With the skills of a certified PMP - Project Management and/or Program Management according to PMI's PM Standards</li>
        <li>Applied Engineering Simulation (Modeling) of Electro-Thermodynamic Systems & Industrial Processes such as Power & Petroleum Refinery plants' systems</li>
        <li>General Industrial Process Modeling toward Application Software Engineering & Development</li>
        <li>Business Workflow Process Modeling toward Application Software Engineering & Development</li>
        <li>NEW CUSTOM state-of-the-art Enterprise Application and/or Systems' Automation Software Engineering & Development</li>
        <li>LEGACY Enterprise Application Software UPGRADE (Customization) Engineering & Development</li>
        <li>DATABASE Design and Development for optimum Application back-end efficiency</li>
        <li>DOCUMENTATION REVIEW and/or GENERATION for “As-Is” LEGACY Application to satisfy compliance requirements and maximize users’ productivity</li>
        <li>TESTING, Verification & Validation (V&V) of NEW and/or LEGACY Application Software with assessment report</li>
        <li>REVIEW and EVALUATION (V&V) of NEW and/or LEGACY Website with recommendations report</li>
        <li>With the skills of a former High School Teacher & Simulator SW Trainer - TRAINING of Users on specific NEW and/or LEGACY Application Software</li>
    </ol>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
