@page "/"

<section>
    <hr />
    <h3>Business Overview</h3>
    <p>PRISMD<sup>2</sup>S offers Project Management and Software Engineering consulting services to Government and/or Industry entities. Whether at your site or remotely (with periodic meeting for progress update, deliverables submission, etc.), the challenge to find solution to your task at hand (small or big project) will be approached in a professional and standardized way based on sound Management and Software Engineering principles embraced by the owner, Robins Pierre, an experienced detail-oriented certified PMP Technology/ Cyber/ Software Architect with a solid Electro-mechanical & Electrical Power Systems Engineering background and experience with business workflows/ processes automation & industrial/ petroleum refinery/ power plant processes simulation to build operator training simulators and/or business productivity tools. The following is a list of the services available to your organization from PRISMD<sup>2</sup>S:</p>
    <ul>
        <li>Project Management and/or Program Management according to PMI's PM Standards</li>
        <li>Applied Engineering Simulation (Modeling) of Electro-Thermodynamic Systems & Industrial Processes such as Power & Petroleum Refinery plants' systems</li>
        <li>General Industrial Process Modeling toward Application Software Engineering & Development</li>
        <li>Business Workflow Process Modeling toward Application Software Engineering & Development</li>
        <li>NEW CUSTOM state-of-the-art Enterprise Application and/or Systems' Automation Software Engineering & Development</li>
        <li>LEGACY Enterprise Application Software UPGRADE (Customization) Engineering & Development</li>
        <li>DATABASE Design and Development for optimum Application back-end efficiency</li>
        <li>“As-Is” LEGACY Application DOCUMENTATION Generation to satisfy compliance requirements and maximize users’ productivity</li>
        <li>TESTING, VERIFICATION & VALIDATION (V&V) for NEW and/or LEGACY Application Software with final assessment report</li>
        <li>NEW and/or LEGACY Website Review and Evaluation (V&V) including custom Website Design & Development</li>
        <li>Users' TRAINING for NEW and/or LEGACY Application Software with certificate of completion</li>
    </ul>
</section>

<section>
    <hr />
    <h4>To schedule a Capability meeting, please contact:</h4>
</section>