@page "/performanceawards"

<section>
    <hr />
    <h5>PERFORMANCE</h5>
    <p>
        The owner of PRISMD<sup>2</sup>S, Robins Pierre, is a talented, detail-oriented, and experienced cleared Technology/ Cyber professional who had delivered cutting edge solutions to DoD organizations and industries of various types: Gas Company, Electrical Power plants & Petroleum Refinery plants.
        <br />
        <br />His performance areas include project management  and/or leading enterprise applications software development in multiple programming languages using a variety of technologies including ASP.NET Web Forms & ASP.NET Core MVC, RESTful API using PHP with Fat Free Framework, miscellaneous Databases products, XML tools processing with Military Scenario Definition Language (MSDL), and employers’ custom proprietary development tools, while keeping pace with latest web technologies such as Azure DevOps, AWS, iOS, Oracle ADF in order to deliver the best cloud-based solution to his clients.
        <br />His major performance role and environment (clients) include the follwowing:
        <ul>
            <li>Role: Project Manager of a $1.3M agile software project for NSA (ARL’s client) within an ICF contract</li>
            <li>Clients: Industry and DoD (SOUTHCOM, LRC, CCDC/C5ISR (formerly CERDEC/C4ISR)’s J6-C2D, S&TCD, ARL)</li>
        </ul>
    </p>
</section>

<section>
    <hr />
    <h5>AWARDS</h5>
    <p>The owner of PRISMD2S, Robins Pierre, received many kudos/ recognition throughout his over 25 years career including:</p>
    <ul>
        <li><strong>2019: Beyond satisfied client at Southern Command (SOUTHCOM - Doral, FL)</strong> throughout a six-sprints agile software development cycle with respect to previous unsuccessful attempts by other personnel for the replacement of their original desktop MS Access DB backend powered app to a new web-based VTC Scheduler enterprise application with MS SQL Server backend including User Interfaces (UI) design, DB schema design, Quality Assurance (QA) testing.</li>
        <li><strong>2013: Received a Booz Allen Hamilton's "Performance & Team Award"</strong> for an innovative contribution to the Data Collection System (DCS) of the Condition-Based Maintenance Plus (CBM+) project for LRC, an Army client for identifying (while attending a team meeting) the need for a software tool to address data harmonization discrepancy (generators’ Serial Number, type, etc.) between two subcontractors’ stand-alone software products. As such over a weekend, immediately developed the tool including requirements generation, design, and VB implementation.This interface tool was vital in the success of a 21-days / 24 hours Early Operational Assessment (EOA) test period involving data transmission from 3 COTS sensors-equipped Tactical Quiet Generators (TQG) over VSAT through a network comprised of 4 hubs dispersed from coast-to-coast across the country representing key army enterprise/ field sites.</li>
        <li><strong>2011: Received a Booz Allen Hamilton's "Performance & Team Award"</strong> for an utmost dedication to the task’s success by developing comprehensive gap analysis for network, power, and voice technologies for multiple labs and overall support including inventory database management to CERDEC clients (LRC & C2D) for the BRAC (Base Realignment And Closure) Project commissioned by the 108th US Congress.</li>
    </ul>
</section>

<section>
    <hr />
    <h4>For further information, please contact:</h4>
</section>
