@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <img src="logoprismd2s.ico" alt="favicon.ico" style="width:60px; margin-right:auto">
        <span>
            Need a certified Project Manager and/or an Application SW Architect?<br />
            Call <strong>(305) 413-1904</strong> or email <a href="mailto:prismd2s@gmail.com">prismd2s@gmail.com</a> <br />
            <a href="https://www.youracclaim.com/badges/66e73651-f6fd-4f58-a908-bae8267d2074" target="_blank" class="ml-md-auto">View Official <strong>PMP</strong> Cert Badge from PMI</a>
        </span>
        <a href="site-data/capabilitystatementprismd2s.pdf" target="_blank" class="ml-md-auto" download>Download our Capability Statement</a>
    </div>

    <div class="content">
        <h5>DBA: <strong>PRISMD Dev2Solutions</strong> (PRISMD<sup>2</sup>S)</h5>
        <h5>
            UEI: <strong>FNVECQ5HQ9X5</strong><br />
            CAGE: <strong>8PNN8</strong><br />
            DUNS: <strong>117557018</strong><br />
        </h5>
    </div>

    <div>
        @Body
    </div>

    <div>
        <p>
            <strong>Robins Pierre</strong>, PMP, Sec+ce, MSEE, DoD 8570.01-m IAT Level II compliant <br />
            Email: <strong><a href="mailto:prismd2s@gmail.com">prismd2s@gmail.com</a></strong><br />
            Phone: <strong>(305) 413-1904</strong> <br />
            <a href="https://www.youracclaim.com/badges/66e73651-f6fd-4f58-a908-bae8267d2074" target="_blank" class="ml-md-auto">View Official <strong>PMP</strong> Cert Badge from PMI</a> <br />
            <a href="https://www.youracclaim.com/badges/b9f029e1-7a29-4578-afc5-02d86287a645" target="_blank" class="ml-md-auto">View Official <strong>Security+</strong> Cert Badge from CompTIA</a> <br />
            <a href="site-data/capabilitystatementprismd2s.pdf" target="_blank" class="ml-md-auto" download>Download our Capability Statement</a>
        </p>
    </div>

    <div>
        <footer><p class="copyright">© 2020-2022 PRISMD<sup>2</sup>S - “<i>Engineering & Managing your IT, SW, DB, & Development Strategy Solutions…</i>"</p></footer>
    </div>
</div>
