<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        PRISMD Dev2Solutions <br />(PRISMD<sup>2</sup>S)
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> HOME
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="aboutus">
                <span class="oi oi-plus" aria-hidden="true"></span> ABOUT US
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="capabilities">
                <span class="oi oi-list-rich" aria-hidden="true"></span> SERVICES
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="performanceawards">
                <span class="oi oi-plus" aria-hidden="true"></span> AWARDS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="businesscodes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CODES: NAICS,etc.
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span class="oi oi-plus" aria-hidden="true"></span> CONTACT US
            </NavLink>
        </li>
    </ul>
</div>

<div class="image-container">
    <img src="logoprismd2s.ico">
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
